.rodape {
    align-items: center;
    background-color: #6272a4;
    background-image: url(/public/imagens/fundo.png);
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    width: 100%;
  }
  
  .rodape .logos {
    display: flex;
    gap: 32px;
  }
  
  .rodape p {
    color: white;
  }